@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

.content {
    display: flex;
    flex-direction: column;
    font-family: 'Libertinus Serif', sans-serif;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: 30px;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;

        p,
        h1 {
            margin: 0;
        }

        p {
            font-size: 18px;
            font-weight: 500;
            color: #818181;
        }
    }

    .search {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        box-sizing: border-box;
        padding: 10px;
        color: gray;

        input {
            outline: none;
            padding: 10px;
            width: 320px;
            border: 1px dotted gray;
            border-radius: 10px;
            font-size: 18px;
        }

        button {
            border: none;
            background-color: transparent;
            color: gray;
            cursor: 0 0 auto;
            padding: 10px;
        }
    }
}

.blogs {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;

    .blog {
        flex: 0 0 40%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        box-sizing: border-box;
        border: 1px dotted gray;
        padding: 20px;
        gap: 20px;
        border-radius: 15px;

        .info {
            display: flex;
            gap: 10px;
        }

        .author {
            display: flex;
            align-items: center;
            gap: 15px;
        }

    }

    .blog:hover{
        transform: scale(101%);
        box-shadow: 0 0 1px 1px gray;
    }
}

.blog>.title {
    display: flex;
    align-items: start;
    width: 100%;

    a {
        color: black;
        font-size: 30px;
        font-weight: 900;
    }
}

.pagination{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button{
        background-color: #f2f2f2;
        border: none;
        padding: 15px 20px;
        border-radius: 50%;
        font-size: 16px;
    }

    button:hover{
        box-shadow: 0 0 1px 1px gray;
    }
}