.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    min-width: 220px;
    border-radius: 15px;
    gap: 30px;
    padding: 20px;
    background-color: #F5F5F5;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 22px;
    font-weight: 400;
    gap: 40px;
    align-items: center;
    justify-content: center;

    div{
        display: flex;
        justify-content: space-between;
        width: 80%;
        gap: 10px;
        align-items: end;
        box-sizing: border-box;
    }

    input{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #6d6d6d;
        outline: none;
        font-size: 18px;
    }

    button{
        border: none;
        border-radius: 20px;
        min-width: 80px;
        font-size: 20px;
        background-color: #d1d1d1;
        font-weight: 500;
        padding: 20px;
    }

    .error{
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 18px;
    }
}